# Copy to `.env` in the project root (do not commit `.env`).
# Values: Firebase console → Project settings → Your apps → Web app config.

EXPO_PUBLIC_FIREBASE_API_KEY=  "AIzaSyDbT9PXXLn3xpeuPeb3dRlVO6aKroSqslo"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN= "todo-app-29822.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID= "todo-app-29822"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET= "todo-app-29822.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID= "250040465413"
EXPO_PUBLIC_FIREBASE_APP_ID= "1:250040465413:web:5b49d1ac5238607774046c"
